body {
    font-family:poppins;
    font-size:16px;
    text-align:left;
    color:palevioletred;
    margin: 0;
    padding: 0;
}

#post {
    width: 70%;
    padding:1em;
    text-align: left;
    border: 1px solid firebrick;
    margin: 0 auto;
}

#post h1 {
    font-size: 20px;
}